/* index.css */
@import "highlight.js/styles/atom-one-dark.css";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: black;
}

.hljs {
  background: transparent !important;
}

.hljs code {
  background: transparent !important;
}
